{% extends 'catalog/base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<div class="container" id="registration-container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="well">
                <form action="{% url 'add-user' %}" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success" type="submit">Sign in</button>
                    <a href="{% url 'index' %}" class="btn btn-default">Home</a>
                </form>
            </div> <!-- well-->
        </div> <!-- column -->
    </div> <!-- row -->
</div>  <!-- container-->
{% endblock %}
